{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'produk' %}">Produk</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row d-flex flex-row">
            <div class="col-md-4">
                <div class="card text-center text-white mb-3 bg-primary" id="total-order">
                    <div class="card-header">
                        <h5 class="card-title text-dark">Total Order</h5>
                    </div>
                    <div class="card-body">
                       <h3 class="card-title">{{total_order}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center text-white mb-3 bg-success" id="order-delivered">
                    <div class="card-header">
                        <h5 class="card-title text-dark">Order Delivered</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{deliver}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center text-white mb-3 bg-warning" id="order-pending">
                    <div class="card-header">
                        <h5 class="card-title text-dark">Order Pending</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{pending}}</h3>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
<br>
        <div class="row">
            <div class="col-md-5">
                <h5>CUSTOMER</h5>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary btn-sm btn-block" href="#">Create Customer</a>
                    <table class="table table-sm">      
                            <tr>
                                <th></th>
                                <th>Customer</th>
                                <th>No-Hp</th>
                            </tr> 
                            {% for customer in customer %} 
                            <tr>
                                <td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td> 
                                <td>{{customer.name}}</td>
                                <td>{{customer.phone}}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-md-7">
                <h5>LAST 5 ORDER</h5>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'order_create' %}">Create Order</a>
                    <table class="table table-sm">
                       
                            <tr>
                                <th>Produk</th>
                                <th>Data Order</th>
                                <th>Status</th>
                                <th>Update</th>
                                <th>Remove</th>
                            </tr>
                            {% for order in orders %} 
                            <tr>
                                <td>{{order.produk}}</td>
                                <td>{{order.date_created}}</td>
                                <td>{{order.status}}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Remove</a></td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>