{% extends 'base.html' %}
{% load static %}

{% block title %}
Delete
{% endblock title %}



{% block menu %}


{% endblock menu %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Apakah Anda yakin ingin menghapus? {{order}}</p>

            <form action="" method="POST">
            {% csrf_token %}
            <a class= "btn btn-warning" href="{% url 'home' %}">Cancle</a>
            <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock content %}




