{% extends 'base.html' %}
{% load static %}

{% block title %}
Produk
{% endblock title %}

{% block menu %}
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produk' %}">Produk</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
{% endblock menu %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>PRODUK</h5>
        </div>
    </div>

    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Produk</th>
                <th>Kategori</th>
                <th>Price</th>
            </tr>
            {% for i in item%}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.kategori}}</td>
                <td>{{i.price}}</td>
            </tr>


            {% endfor %}

        </table>
    </div>

</div>
{% endblock content %}
